<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help Requests List</title>
    <link rel="stylesheet" href="/CSS/counselor.css">
</head>
<body>
    {{>nevcounselor}}
    <div class="helpRequestsList">
        <h1>Help Requests List</h1>
        <table>
            <thead>
                <tr>
                    <th>Serial No.</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Issue</th>
                    <th>Number of Days</th>
                    <th>Description</th>
                    <th>Prescription</th>
                </tr>
            </thead>
            <tbody>
                {{#each helpRequests}}
                <tr>
                    <td>{{serialNo}}</td>
                    <td><a href="/studentsprofile/{{studentId}}">{{studentName}}</a></td>
                    <td>{{studentAge}}</td>
                    <td>{{issue}}</td>
                    <td>{{duration}}</td>
                    <td>{{description}}</td>
                    <td>
                        {{#if prescription}}
                            {{prescription}}
                        {{else}}
                            <a class="edit-button" href="/helpRequestsList/prescription/{{_id}}">Give Prescription</a>
                        {{/if}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</body>
</html>
