<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Details</title>
    <link rel="stylesheet" href="/CSS/counselor.css">
    <style>
        .container {
            max-width: 1000px;
            margin: 80px auto;
        }
        .container h1 {
            text-align: center;
            margin-bottom: 20px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
            border: 2px solid #ccc;
        }
        th, td {
            border: 1px solid #ccc;
            padding: 8px;
            text-align: left;
        }
        th {
            text-align: center;
            background-color: #ffffff;
        }
        tbody tr:nth-child(even) {
            background-color: #D7E8D8;
        }
        tbody tr:nth-child(odd) {
            background-color: #ECEFF1;
        }
    </style>
</head>
<body>
    {{> nevcounselor}}
    <div class="container">
        <h1>Student Details</h1>
        <table>
            <thead>
                <tr>
                    <th>Serial No.</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Name</th>
                    <th>Issue</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {{#each studentDetails}}
                <tr>
                    <td>{{serialNo}}</td>
                    <td>{{date}}</td>
                    <td>{{time}}</td>
                    <td><a href="/profile/{{studentId}}">{{studentName}}</a></td>
                    <td>{{issue}}</td>
                    <td>{{description}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</body>
</html>
