<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Details</title>
    <link rel="stylesheet" href="/CSS/counselor.css">
</head>
<body>
    {{> nevcounselor}}
    <div class="myCases">
        <h1>My Cases</h1>
        <table>
            <thead>
                <tr>
                    <th>Serial No.</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Name</th>
                    <th>Issue</th>
                    <th>Description</th>
                    <th>Prescription</th>
                </tr>
            </thead>
            <tbody>
                {{#each studentDetails}}
                <tr>
                    <td>{{serialNo}}</td>
                    <td>{{date}}</td>
                    <td>{{time}}</td>
                    <td><a href="/studentsprofile/{{studentId}}">{{studentName}}</a></td>
                    <td>{{issue}}</td>
                    <td>{{description}}</td>
                    <td>{{prescription}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</body>
</html>
